@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');

.headertitle {
  font-size: 25px !important;
}

h1 {
  font-size: 22px !important;
  font-weight: bold !important;
}

.topmar {
  margin-top: 50px !important;
}

iframe {
  margin: 0 auto;
  display: block;
  max-height: 100%;
  max-width: 100%;
}

.card-content {
  text-align: center;
}

img {
  margin-top: 20px !important;
  height: 80% !important;
  width: 50% !important;
}
